--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO mahya;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO mahya;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO mahya;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO mahya;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO mahya;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO mahya;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO mahya;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO mahya;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO mahya;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO mahya;

--
-- Name: professors_professor; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.professors_professor (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    personnel_code character varying(20) NOT NULL,
    national_id character varying(10) NOT NULL,
    user_id integer
);


ALTER TABLE public.professors_professor OWNER TO mahya;

--
-- Name: professors_professor_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.professors_professor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.professors_professor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_management_spacemanager; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_management_spacemanager (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    username character varying(50) NOT NULL,
    spaces text NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.space_management_spacemanager OWNER TO mahya;

--
-- Name: space_management_spacemanager_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_management_spacemanager ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_management_spacemanager_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_managers_event; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_managers_event (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    event_type character varying(20) NOT NULL,
    date date NOT NULL,
    poster character varying(100),
    organizer character varying(20) NOT NULL,
    description character varying NOT NULL,
    professor_id bigint,
    space_id bigint,
    student_id bigint
);


ALTER TABLE public.space_managers_event OWNER TO mahya;

--
-- Name: space_managers_event_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_managers_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_managers_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_managers_reservation; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_managers_reservation (
    id bigint NOT NULL,
    reservation_type character varying(20) NOT NULL,
    date date NOT NULL,
    reservee_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    professor_id bigint,
    student_id bigint,
    space_id bigint,
    description character varying NOT NULL
);


ALTER TABLE public.space_managers_reservation OWNER TO mahya;

--
-- Name: space_managers_reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_managers_reservation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_managers_reservation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_managers_schedule; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_managers_schedule (
    id bigint NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    reservation_id bigint NOT NULL,
    space_id bigint NOT NULL
);


ALTER TABLE public.space_managers_schedule OWNER TO mahya;

--
-- Name: space_managers_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_managers_schedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_managers_schedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_managers_space; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_managers_space (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    address text NOT NULL,
    capacity integer NOT NULL,
    space_manager_id bigint
);


ALTER TABLE public.space_managers_space OWNER TO mahya;

--
-- Name: space_managers_space_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_managers_space ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_managers_space_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: space_managers_spacemanager; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.space_managers_spacemanager (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    username character varying(50) NOT NULL,
    spaces text NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.space_managers_spacemanager OWNER TO mahya;

--
-- Name: space_managers_spacemanager_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.space_managers_spacemanager ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.space_managers_spacemanager_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: students_student; Type: TABLE; Schema: public; Owner: mahya
--

CREATE TABLE public.students_student (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    student_id character varying(10) NOT NULL,
    national_id character varying(10) NOT NULL,
    email character varying(100) NOT NULL,
    student_card_photo character varying(100) NOT NULL,
    user_id integer
);


ALTER TABLE public.students_student OWNER TO mahya;

--
-- Name: students_student_id_seq; Type: SEQUENCE; Schema: public; Owner: mahya
--

ALTER TABLE public.students_student ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.students_student_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: mahya
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$ZjZPvvQxELQNPASK9BsxNw$E2W+p1HUAi0iRTnmbEFqeyW8Z+wOCUk55Wrwa5kD4S8=	2025-07-13 20:13:03.79821+00	t	mahya			mahyajfri37@gmail.com	t	t	2025-07-13 20:12:09.336024+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-07-14 01:29:05.42738+00	1	reza rezaei (ID: 4003823024)	1	[{"added": {}}]	7	1
2	2025-07-14 01:29:10.101339+00	1	reza rezaei (ID: 4003823024)	2	[]	7	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	students	student
8	professors	professor
9	space_managers	spacemanager
10	space_managers	reservation
11	space_managers	space
12	space_managers	event
13	space_managers	schedule
14	space_management	space
15	space_management	reservation
16	space_management	schedule
17	space_management	event
18	space_management	spacemanager
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: mahya
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
ujw4usa0zh96btqmm4nq7xbhok5d67af	.eJxVjEEOwiAURO_C2hCgFKhL9z0Dgf8_UjWQlHZlvLs06UJn-ebNvJkP-5b93mj1C7Irk-zyy2KAJ5WjwEco98qhlm1dIj8UfraNzxXpdTvdv4McWu7rJMjiIIR0Ltoe0GRGYYKUMFgYnQZAGZOZlAajYAodJaHJStTKaGKfL8ybN0c:1ub34J:dHMH-QIj3vzX8mddnqH-X9Hbi3ET0e_F0jPrR-oX1JQ	2025-07-27 20:13:03.806579+00
\.


--
-- Data for Name: professors_professor; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.professors_professor (id, first_name, last_name, personnel_code, national_id, user_id) FROM stdin;
\.


--
-- Data for Name: space_management_spacemanager; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_management_spacemanager (id, first_name, last_name, username, spaces, user_id) FROM stdin;
\.


--
-- Data for Name: space_managers_event; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_managers_event (id, title, event_type, date, poster, organizer, description, professor_id, space_id, student_id) FROM stdin;
\.


--
-- Data for Name: space_managers_reservation; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_managers_reservation (id, reservation_type, date, reservee_type, status, professor_id, student_id, space_id, description) FROM stdin;
\.


--
-- Data for Name: space_managers_schedule; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_managers_schedule (id, start_time, end_time, reservation_id, space_id) FROM stdin;
\.


--
-- Data for Name: space_managers_space; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_managers_space (id, name, address, capacity, space_manager_id) FROM stdin;
\.


--
-- Data for Name: space_managers_spacemanager; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.space_managers_spacemanager (id, first_name, last_name, username, spaces, user_id) FROM stdin;
\.


--
-- Data for Name: students_student; Type: TABLE DATA; Schema: public; Owner: mahya
--

COPY public.students_student (id, first_name, last_name, student_id, national_id, email, student_card_photo, user_id) FROM stdin;
1	reza	rezaei	4003823024	1234567890	m@gmail.com	student_cards/Screenshot_999.png	\N
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 2, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: professors_professor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.professors_professor_id_seq', 1, false);


--
-- Name: space_management_spacemanager_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_management_spacemanager_id_seq', 1, false);


--
-- Name: space_managers_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_managers_event_id_seq', 1, false);


--
-- Name: space_managers_reservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_managers_reservation_id_seq', 1, false);


--
-- Name: space_managers_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_managers_schedule_id_seq', 1, false);


--
-- Name: space_managers_space_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_managers_space_id_seq', 1, false);


--
-- Name: space_managers_spacemanager_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.space_managers_spacemanager_id_seq', 1, false);


--
-- Name: students_student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mahya
--

SELECT pg_catalog.setval('public.students_student_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: professors_professor professors_professor_national_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.professors_professor
    ADD CONSTRAINT professors_professor_national_id_key UNIQUE (national_id);


--
-- Name: professors_professor professors_professor_personnel_code_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.professors_professor
    ADD CONSTRAINT professors_professor_personnel_code_key UNIQUE (personnel_code);


--
-- Name: professors_professor professors_professor_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.professors_professor
    ADD CONSTRAINT professors_professor_pkey PRIMARY KEY (id);


--
-- Name: professors_professor professors_professor_user_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.professors_professor
    ADD CONSTRAINT professors_professor_user_id_key UNIQUE (user_id);


--
-- Name: space_management_spacemanager space_management_spacemanager_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_management_spacemanager
    ADD CONSTRAINT space_management_spacemanager_pkey PRIMARY KEY (id);


--
-- Name: space_management_spacemanager space_management_spacemanager_user_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_management_spacemanager
    ADD CONSTRAINT space_management_spacemanager_user_id_key UNIQUE (user_id);


--
-- Name: space_management_spacemanager space_management_spacemanager_username_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_management_spacemanager
    ADD CONSTRAINT space_management_spacemanager_username_key UNIQUE (username);


--
-- Name: space_managers_event space_managers_event_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_event
    ADD CONSTRAINT space_managers_event_pkey PRIMARY KEY (id);


--
-- Name: space_managers_reservation space_managers_reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_reservation
    ADD CONSTRAINT space_managers_reservation_pkey PRIMARY KEY (id);


--
-- Name: space_managers_schedule space_managers_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_schedule
    ADD CONSTRAINT space_managers_schedule_pkey PRIMARY KEY (id);


--
-- Name: space_managers_schedule space_managers_schedule_reservation_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_schedule
    ADD CONSTRAINT space_managers_schedule_reservation_id_key UNIQUE (reservation_id);


--
-- Name: space_managers_space space_managers_space_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_space
    ADD CONSTRAINT space_managers_space_pkey PRIMARY KEY (id);


--
-- Name: space_managers_spacemanager space_managers_spacemanager_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_spacemanager
    ADD CONSTRAINT space_managers_spacemanager_pkey PRIMARY KEY (id);


--
-- Name: space_managers_spacemanager space_managers_spacemanager_user_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_spacemanager
    ADD CONSTRAINT space_managers_spacemanager_user_id_key UNIQUE (user_id);


--
-- Name: space_managers_spacemanager space_managers_spacemanager_username_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_spacemanager
    ADD CONSTRAINT space_managers_spacemanager_username_key UNIQUE (username);


--
-- Name: students_student students_student_email_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_email_key UNIQUE (email);


--
-- Name: students_student students_student_national_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_national_id_key UNIQUE (national_id);


--
-- Name: students_student students_student_pkey; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_pkey PRIMARY KEY (id);


--
-- Name: students_student students_student_student_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_student_id_key UNIQUE (student_id);


--
-- Name: students_student students_student_user_id_key; Type: CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: professors_professor_national_id_9528e8b7_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX professors_professor_national_id_9528e8b7_like ON public.professors_professor USING btree (national_id varchar_pattern_ops);


--
-- Name: professors_professor_personnel_code_3c0d4e46_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX professors_professor_personnel_code_3c0d4e46_like ON public.professors_professor USING btree (personnel_code varchar_pattern_ops);


--
-- Name: space_management_spacemanager_username_d272a5a8_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_management_spacemanager_username_d272a5a8_like ON public.space_management_spacemanager USING btree (username varchar_pattern_ops);


--
-- Name: space_managers_event_professor_id_da3439e3; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_event_professor_id_da3439e3 ON public.space_managers_event USING btree (professor_id);


--
-- Name: space_managers_event_space_id_a213589d; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_event_space_id_a213589d ON public.space_managers_event USING btree (space_id);


--
-- Name: space_managers_event_student_id_fe858947; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_event_student_id_fe858947 ON public.space_managers_event USING btree (student_id);


--
-- Name: space_managers_reservation_professor_id_bc9fd695; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_reservation_professor_id_bc9fd695 ON public.space_managers_reservation USING btree (professor_id);


--
-- Name: space_managers_reservation_space_id_711f5780; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_reservation_space_id_711f5780 ON public.space_managers_reservation USING btree (space_id);


--
-- Name: space_managers_reservation_student_id_94243777; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_reservation_student_id_94243777 ON public.space_managers_reservation USING btree (student_id);


--
-- Name: space_managers_schedule_space_id_3daf1064; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_schedule_space_id_3daf1064 ON public.space_managers_schedule USING btree (space_id);


--
-- Name: space_managers_space_space_manager_id_655bfa14; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_space_space_manager_id_655bfa14 ON public.space_managers_space USING btree (space_manager_id);


--
-- Name: space_managers_spacemanager_username_32bbcd0f_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX space_managers_spacemanager_username_32bbcd0f_like ON public.space_managers_spacemanager USING btree (username varchar_pattern_ops);


--
-- Name: students_student_email_8e692028_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX students_student_email_8e692028_like ON public.students_student USING btree (email varchar_pattern_ops);


--
-- Name: students_student_national_id_e86c2b6d_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX students_student_national_id_e86c2b6d_like ON public.students_student USING btree (national_id varchar_pattern_ops);


--
-- Name: students_student_student_id_293843ba_like; Type: INDEX; Schema: public; Owner: mahya
--

CREATE INDEX students_student_student_id_293843ba_like ON public.students_student USING btree (student_id varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: professors_professor professors_professor_user_id_91654dc0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.professors_professor
    ADD CONSTRAINT professors_professor_user_id_91654dc0_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_management_spacemanager space_management_spacemanager_user_id_e87d8507_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_management_spacemanager
    ADD CONSTRAINT space_management_spacemanager_user_id_e87d8507_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_event space_managers_event_professor_id_da3439e3_fk_professor; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_event
    ADD CONSTRAINT space_managers_event_professor_id_da3439e3_fk_professor FOREIGN KEY (professor_id) REFERENCES public.professors_professor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_event space_managers_event_space_id_a213589d_fk_space_man; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_event
    ADD CONSTRAINT space_managers_event_space_id_a213589d_fk_space_man FOREIGN KEY (space_id) REFERENCES public.space_managers_space(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_event space_managers_event_student_id_fe858947_fk_students_student_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_event
    ADD CONSTRAINT space_managers_event_student_id_fe858947_fk_students_student_id FOREIGN KEY (student_id) REFERENCES public.students_student(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_reservation space_managers_reser_professor_id_bc9fd695_fk_professor; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_reservation
    ADD CONSTRAINT space_managers_reser_professor_id_bc9fd695_fk_professor FOREIGN KEY (professor_id) REFERENCES public.professors_professor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_reservation space_managers_reser_space_id_711f5780_fk_space_man; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_reservation
    ADD CONSTRAINT space_managers_reser_space_id_711f5780_fk_space_man FOREIGN KEY (space_id) REFERENCES public.space_managers_space(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_reservation space_managers_reser_student_id_94243777_fk_students_; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_reservation
    ADD CONSTRAINT space_managers_reser_student_id_94243777_fk_students_ FOREIGN KEY (student_id) REFERENCES public.students_student(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_schedule space_managers_sched_reservation_id_92bf9e47_fk_space_man; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_schedule
    ADD CONSTRAINT space_managers_sched_reservation_id_92bf9e47_fk_space_man FOREIGN KEY (reservation_id) REFERENCES public.space_managers_reservation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_schedule space_managers_sched_space_id_3daf1064_fk_space_man; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_schedule
    ADD CONSTRAINT space_managers_sched_space_id_3daf1064_fk_space_man FOREIGN KEY (space_id) REFERENCES public.space_managers_space(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_space space_managers_space_space_manager_id_655bfa14_fk_space_man; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_space
    ADD CONSTRAINT space_managers_space_space_manager_id_655bfa14_fk_space_man FOREIGN KEY (space_manager_id) REFERENCES public.space_managers_spacemanager(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: space_managers_spacemanager space_managers_spacemanager_user_id_2c483ea8_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.space_managers_spacemanager
    ADD CONSTRAINT space_managers_spacemanager_user_id_2c483ea8_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: students_student students_student_user_id_56286dbb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mahya
--

ALTER TABLE ONLY public.students_student
    ADD CONSTRAINT students_student_user_id_56286dbb_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

